@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400|Source+Sans+Pro:300,300i,400,900");

body {
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 106px;
    font-weight: 900;
    color: white;
    margin-top: 24%;
    margin-bottom: 40px;
    letter-spacing: 8px;
    line-height: 100%;

}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 26px;
    font-weight: 300;
    font-style: italic;
    color: white;
    line-height: 250%;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 50px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: white;
}

.description a {
    color: white;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.description a:hover {
    color: #18bfef;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    margin: auto;
    max-width: 1536px;
    height: auto;
}

header {
    background-color: rgba(255, 255, 255, 0.17);
    height: 85px;
    letter-spacing: 1px;
}

main {
    background-color: rgba(255, 255, 255, 1)
}

footer {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-wrap: wrap;
}

.arrow-down a {
    display: inline-block;
    border: 3px solid white;
    border-radius: 100%;
    padding: 25px;
    margin: 20px;
}

.arrow-down :hover {
    color: #18bfef;
    border-color: #18bfef;

}

/*header*/

li.active a {
    color: black;
}

.active {
    background-color: white;

}

.navigation {
    padding: 32px 0;
}

.navigation :hover {
    background-color: rgba(255, 255, 255, 0.25);

}

.navigation a {
    padding: 32px;
}

.menu li, .icon li {
    display: inline-block;
}

.menu {
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 900;
}

.icon {
    float: right;
    margin: auto;
}

.big-button {
    display: none;
}

/*!*main*!*/

.flex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
    max-width: 1534px;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
}

.container {
    padding: 170px;
}

.data {
    font-family: 'Merriweather', serif;
    color: #212931;
    font-weight: 300;
    font-size: 21px;
    text-align: center;
}

.container h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 85px;
    font-weight: 900;
    font-style: normal;
    line-height: 93px;
    color: #212931;
}

.container h3 {
    text-align: center;
    margin-bottom: 93px;
}

.container img {
    width: 100%;
    margin-bottom: 93px;
}

.container a {
    color: black;
    border: 2px solid black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 26px 58px;
}

.box {
    margin: -1px;
    width: 50%;
    border: 1px solid #eee;
}


.box a {
    color: black;
    border: 2px solid black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 20px 42px;
}


.box .data {
    font-family: 'Merriweather', serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 40px;

}

.box h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 37px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 48px;
    color: black;
    font-style: normal;
}

.box img {
    width: 100%;
    margin: 20px 0;
}

.inner {
    margin: 85px;
}

.copyright {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 11px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.5);
}

.copyright li {
    display: inline;
    padding: 0 20px;
}

.copyright a {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: rgba(255, 255, 255, 0.5);
}

.copyright a:hover {
    color: #18bfef;
    text-decoration: none;

}

/*paginator*/
div .paginator a, .paginator span {
    border: #e2e2e2 solid 2px;
    display: inline-block;
    color: black;
    padding: 20px 23px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 17px;
    text-transform: uppercase;
    margin: -3px;

}

div .paginator {
    padding: 85px;
}

a.page.active {
    background-color: #e2e2e2;
}

/*footer*/

footer a {
    color: #717981;

}

.left-footer, .right-footer {
    display: flex;
    text-align: left;
    text-transform: uppercase;
    width: 50%;
    padding: 0;
    margin: -1px;
}

.left-footer {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 900;
    color: #717981;
    border-right: #e2e2e2 solid 2px;

}

input, textarea {
    width: 100%;
    background-color: #f5f5f5;
    border: #e2e2e2 solid 2px;
    margin: 15px 0 30px 0;
}

input {
    height: 60px;
}

textarea {
    height: 180px;
}

.form {
    width: 100%;
    margin: 85px;
}

.button {
    color: #717981;
    border: 2px solid #717981;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1px;
    display: inline-block;
    padding: 20px 42px;
    margin: 20px 0;
}


.right-footer {
    display: inline-block;

}

.right-footer h6 {
    color: #717981;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1px;
    display: inline-block;
    width: 150px;
}

.right-footer p {
    color: #909498;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    text-transform: lowercase;
    display: inline-block;
}

.right-footer .adress p {
    text-transform: capitalize;

}

.right-footer .adress h6 {
    vertical-align: top
}

.right-footer section {
    border-bottom: #e2e2e2 solid 2px;
    padding: 50px 85px;
}

.footer-icon {
    display: inline-block;

}

.footer-icon li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: #e2e2e2 solid 2px;
    border-radius: 50%;
}

.left-footer {
    padding-right: 0;
}

/*copyright*/

.copyright {
    color: rgba(255, 255, 255, 0.25);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 93px 0 177px 0;
}

.copyright ul li {

    border-left: solid 2px;
}

.copyright ul li:first-child {

    border-left: 0;
}

.copyright a {
    color: rgba(255, 255, 255, 0.25);
}

@media only screen and (max-width: 1048px) {
    .box {
        width: 100%;
    }

    .left-footer, .right-footer {
        width: 100%;
    }
}