@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400|Source+Sans+Pro:300,300i,400,900');

body {
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 106px;
    font-weight: 900;
    color: white;
    margin-top: 24%;
    margin-bottom: 40px;
    letter-spacing: 8px;
    line-height: 100%;

}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 26px;
    font-weight: 300;
    font-style: italic;
    color: white;
    line-height: 250%;
}

h3 {
    margin-bottom: 60px;
    font-family: 'Merriweather', serif;
    font-size: 21px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: white;
}

.description a {
    color: white;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.description a:hover {
    color: #18bfef;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgba(255, 255, 255, 0.17);
    height: 85px;
    letter-spacing: 1px;
}

main {
    background-color: rgba(255, 255, 255, 1)
}

footer {
    background-color: rgb(245, 245, 245);
    margin-bottom: 260px;
    display: flex;
}

.arrow-down a {
    display: inline-block;
    border: 3px solid white;
    border-radius: 100%;
    padding: 25px;
    margin: 20px;
}

.arrow-down :hover {
    color: #18bfef;
    border-color: #18bfef;

}

/*header*/

li.active a {
    color: black;
}

.active {
    background-color: white;
}

.navigation {
    padding: 32px;
}

.menu li, .icon li {
    display: inline-block;
}

.menu {
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 900;
}

.icon {
    float: right;
    margin: auto;
}

.big-button {
    display: none;
}

/*!*main*!*/

div.box h2 {
    color: black;
}

div.box a {
    color: black;
    border: 2px solid black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 20px 42px;
}

.data {
    padding: 120px;
}

.container, .data {
    font-family: 'Merriweather', serif;
    color: #212931;
    font-weight: 300;
    font-size: 21px;
    text-align: center;
}

.container h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 85px;
    font-weight: 900;
    font-style: normal;
    color: #212931;
}

.wrapper {
    margin: auto;
    width: 1536px;
    height: auto;
}

.box {
    width: 762px;
    height: 1055px;
    display: inline-block;
    border: 2px solid #eee;
    /*margin: 0;*/
}

.copyright {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 11px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.5);
}

.copyright li {
    display: inline;
    padding: 10px;
}

.copyright a {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: rgba(255, 255, 255, 0.5);
}

.copyright a:hover {
    color: #18bfef;
    text-decoration: none;

}

/*paginator*/
div .paginator a, .paginator span {
    border: #e2e2e2 solid 2px;
    display: inline-block;
    color: black;
    padding: 19px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 17px;
    text-transform: uppercase;

}

div .paginator {
    padding: 85px;
}


/*footer*/

footer a {
    color: #717981;

}

.left-footer, .right-footer {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    width: 49%;
    padding: 0;
    margin: 0;
}

.left-footer {
    padding: 85px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 900;
    color: #717981;

}

input, textarea {
    width: 85%;
    background-color: #f5f5f5;
    border: #e2e2e2 solid 2px;
    margin: 15px 0 30px 0;
}

input {
    height: 60px;
}

textarea {
    height: 180px;
}

.button {
    color: #717981;
    border: 2px solid #717981;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 20px 42px;
    margin-bottom: 85px;
}

form {
    margin-bottom: 45px;
}

.right-footer h6 {
    color: #717981;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1px;
}

.right-footer p {
    color: #909498;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    text-transform: lowercase;
    line-height: 2px;
}

.right-footer .adress p {
    text-transform: capitalize;
}
